body {
  background-image: url(../starter-code/assets/crew/background-crew-mobile.jpg);
  background-repeat: no-repeat;
  background-size: 100% 135%;
  height: 100%;
}
.crew__engineer-button {
  background-color: #ffffff;
}

@media screen and (min-width: 481px) and (max-width: 820px) {
  body {
    background-image: url(../starter-code/assets/crew/background-crew-tablet.jpg);
    background-size: 100% 110%;
  }

  .navbar__link:nth-child(3) {
    border-bottom: 3px solid white;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url(../starter-code/assets/crew/background-crew-desktop.jpg);
    background-size: 100% 100vh;
  }

  .navbar__link:nth-child(3) {
    border-bottom: 3px solid white;
  }
}
